.container-1 {
  background-color: #D9D9D9;
  min-height: 350px;
}

.btn-wpp {
  background-color: #90D573;
}

.btn-instagram {
  background-color: #DD2A7B;
}

/* img {
  width: 100%;
} */

/* .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
} */

/* .carousel {
  width:640px;
  height:360px;
} */
